@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';


h1 {
  font-weight: 700;
}

@mixin gradient() {
  // colorzilla.com/gradient-editor/#9cf253+0,09d3ff+100
  background-image: -moz-linear-gradient(-45deg,  #9cf253 0%, #09d3ff 100%);
  background-image: -webkit-linear-gradient(-45deg,  #9cf253 0%,#09d3ff 100%);
  background-image: linear-gradient(135deg,  #9cf253 0%,#09d3ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cf253', endColorstr='#09d3ff',GradientType=1 );
}

.btn-primary {
  color: white;
  @include gradient();
}

.btn-secondary {
  @include gradient();
  -webkit-background-clip: text;
  color: transparent !important;
}

.text-muted {
  opacity: 0.6;
}

.form-control.is-invalid {
  background-image: none;
}
