<div class="row">
  <div class="offset-lg-3 col-lg-6">
    <div class="card">
      <div class="card-body text-center">
        <h2 class="text-muted">Register</h2>
        <form class="mt-5" [formGroup]="registerGroup" (ngSubmit)="submit()">
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Email" autocomplete="off" [ngClass]="{ 'is-invalid': showError('email') }">
            <p *ngIf="showError('email')" class="text-danger text-left small">Please enter a valid email.</p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="Name" autocomplete="off" [ngClass]="{ 'is-invalid': showError('name') }">
            <p *ngIf="showError('name')" class="text-danger text-left small">Please enter a name.</p>
          </div>
          <button type="submit" class="btn btn-primary d-block mx-auto mt-3 mb-3"><img src="assets/lock.svg" width="20" class="mr-3">Submit</button>
          <a class="btn btn-secondary d-inline-block mx-auto mt-2" [routerLink]="['/login']"><span>Login</span></a>
        </form>
        <div *ngIf="error" class="alert alert-danger text-left" role="alert">{{ error }}</div>
      </div>
    </div>
  </div>
</div>
